div.package-base-button {
    word-break: break-all;
    padding: 4px 5px !important;
    width: 100%;
    line-height: 14px !important;
    font-weight: bold !important;
}

div.package-base-message .box-ui-text-container {
    word-break: break-all;
    text-align: left;
    padding: 4px 5px !important;
    width: 100%;
    line-height: 14px !important;
    font-weight: bold !important;
}

div.package-base-message .box-ui-text-container:empty::before {
    content: "\200b";
}

#patcher.unlocked div.package-base-message .box-ui-text-container {
    cursor: default;
}

#patcher.unlocked div.package-base-message .box-ui-text-container.editing {
    cursor: text;
}

div.package-base-invalidobject .box-ui-text-container {
    background-color: rgb(128, 64, 64);
}

#patcher.unlocked div.box.selected .box-ui-text-container {
    pointer-events: auto;
}
