div.box-ui>div {
    display: inline-flex;
    background-color: rgb(73, 80, 77);
    padding: 0px 5px;
    width: 100%;
    color: white;
    font-family: Lato;
    font-size: 12px;
    margin: 0px;
    overflow-wrap: break-word;
    cursor: default;
    user-select: none;
    border: rgb(125, 126, 132) solid;
    border-width: 4px 0px;
}

div.box-ui>div.package-base.package-base-invalidobject {
    background-color: rgb(128, 64, 64);
}

div.box-ui span {
    word-break: break-all;
    width: 100%;
    line-height: 20px;
    font-weight: normal;
}

div.box-ui span.editing {
    pointer-events: auto;
    cursor: text;
    user-select: auto;
}

div.box-ui span:empty::before {
    content: "\200b";
}

div.box-ui>button.package-base.package-base-button {
    padding: 4px 5px;
    width: 100%;
    line-height: 20px;
    font-weight: normal;
}
