div.box-ui-default {
    background-color: rgb(73, 80, 77);
}

div.box-ui-default.box-ui-text-container {
    display: inline-flex;
    padding: 0px 5px;
    width: 100%;
    color: white;
    font-family: Lato;
    font-size: 12px;
    margin: 0px;
    overflow-wrap: break-word;
    cursor: default;
    user-select: none;
    border: rgb(125, 126, 132) solid;
    border-width: 0px;
}

div.box-ui-default.box-ui-text-container:first-child {
    border-top-width: 4px;
}

div.box-ui-default.box-ui-text-container:last-child {
    border-bottom-width: 4px;
}

div.box-ui-default.box-ui-text-container span {
    word-break: break-all;
    width: 100%;
    line-height: 20px;
    font-weight: normal;
}

div.box-ui-default.box-ui-text-container span.editing {
    pointer-events: auto;
    cursor: text;
    user-select: auto;
}

div.box-ui-default.box-ui-text-container span:empty::before {
    content: "\200b";
}
