div.box-ui-default {
    background-color: rgb(73, 80, 77);
}
div.box-ui-default.box-ui-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.box-ui-default.box-ui-container .box-ui-dropdown-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: rgb(125, 126, 132) solid;
    padding: 0px;
    border-width: 0px 0px 4px 0px;
}

div.box-ui-default.box-ui-container .box-ui-toggle {
    cursor: pointer;
}

div.box-ui-default.box-ui-text-container {
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 5px;
    width: 100%;
    color: white;
    font-family: Lato;
    font-size: 12px;
    margin: 0px;
    overflow-wrap: break-word;
    cursor: default;
    user-select: none;
    border: rgb(125, 126, 132) solid;
    border-width: 0px;
}

div.box-ui-default.box-ui-text-container:first-child {
    border-top-width: 4px;
}

div.box-ui-default.box-ui-text-container:last-child {
    border-bottom-width: 4px;
}

div.box-ui-default.box-ui-text-container span {
    word-break: break-all;
    width: 100%;
    line-height: 14px;
    font-weight: normal;
}


div.box-ui-default.box-ui-text-container i.icon {
    line-height: 14px;
}

div.box-ui-default.box-ui-text-container span.editing {
    pointer-events: auto;
    cursor: text;
    user-select: auto;
}

div.box-ui-default.box-ui-text-container span:empty::before {
    content: "\200b";
}
