
div.box-ui>div.package-js {
    display: inline-flex;
    padding: 4px 5px;
    line-height: 20px;
    font-weight: normal;
    width: 100%;
    overflow-wrap: break-word;
    cursor: default;
    user-select: none;
}

div.box-ui>div.package-js>i.icon {
    margin: 0 .25rem 0 0;
}

div.box-ui div.package-js span {
    word-break: break-all;
    width: 100%;
    line-height: 20px;
    font-weight: normal;
}

div.box-ui div.package-js span.editing {
    pointer-events: auto;
    cursor: text;
    user-select: auto;
}

div.box-ui div.package-js span:empty::before {
    content: "\200b";
}