
div.package-js .box-ui-text-container {
    display: inline-flex;
    padding: 4px 5px;
    line-height: 14px;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    cursor: default;
    user-select: none;
}

div.package-js .box-ui-text-container>i.icon {
    margin: 0 .25rem 0 0;
}

div.package-js .box-ui-text-container span {
    word-break: break-all;
    width: 100%;
    line-height: 14px;
    font-weight: bold;
}

div.package-js .box-ui-text-container span.editing {
    pointer-events: auto;
    cursor: text;
    user-select: auto;
}

div.package-js .box-ui-text-container span:empty::before {
    content: "\200b";
}