div.package-faust-dsp.box-ui-container .dsp-editor {
    flex: 1 1 100%;
    display: flex;
    width: 100%;
    padding: 0px;
}

div.package-faust-dsp.box-ui-container .dsp-editor .CodeMirror {
    height: auto;
    width: 100%;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

div.package-faust-dsp.box-ui-container .box-ui-toggle {
    cursor: pointer;
}

div.package-faust-dsp.box-ui-container .faust-ui {
    margin: 0px 1px;
}

div.package-faust-dsp.box-ui-container .faust-ui .faust-ui-item {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

div.package-faust-dsp.box-ui-container div.faust-ui-group {
    display: grid !important;
    grid-column: span 4;
    grid-template-columns: repeat(4, 25%);
}

div.package-faust-dsp.box-ui-container .faust-ui-group .faust-ui-hslider {
    grid-column: span 2;
    padding-right: 10px;
}

div.package-faust-dsp.box-ui-container .faust-ui-group .faust-ui-vslider {
    display: inline-block;
    grid-row: span 4;
}

div.package-faust-dsp.box-ui-container .faust-ui-vgroup {
    grid-column: span 4;
}

div.package-faust-dsp.box-ui-container .faust-ui-hgroup {
    grid-row: span 4;
}

div.package-faust-dsp.box-ui-container .faust-ui-tgroup {
    grid-column: span 4;
    grid-row: span 4;
}

div.package-faust-dsp.box-ui-container .faust-ui .faust-ui-item .label {
    min-width: 60px;
    overflow-x: hidden;
}

div.package-faust-dsp.box-ui-container .faust-ui .faust-ui-item .ui-slider-horizontal {
    width: 100%;
}

.faust-ui-label ~ .faust-ui-item {
    margin-top: 2rem;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial,Helvetica,sans-serif/*{ffDefault}*/;
	font-size: 1em/*{fsDefault}*/;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif/*{ffDefault}*/;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5/*{borderColorDefault}*/;
}
.ui-widget-content {
	border: 1px solid #dddddd/*{borderColorContent}*/;
	background: #ffffff/*{bgColorContent}*/ /*{bgImgUrlContent}*/ /*{bgContentXPos}*/ /*{bgContentYPos}*/ /*{bgContentRepeat}*/;
	color: #333333/*{fcContent}*/;
}
.ui-widget-content a {
	color: #333333/*{fcContent}*/;
}
.ui-widget-header {
	border: 1px solid #dddddd/*{borderColorHeader}*/;
	background: #e9e9e9/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ /*{bgHeaderXPos}*/ /*{bgHeaderYPos}*/ /*{bgHeaderRepeat}*/;
	color: #333333/*{fcHeader}*/;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333/*{fcHeader}*/;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}